/* ul {
  background-color: blueviolet;
  /* text-decoration: overline; */
/* } */

ol {
  background-color: purple;
  text-decoration: line-through;
}
ul {
  background-color: blueviolet;
  /* text-decoration: overline; */
}
h2 {
  color: orchid;
}
span.back {
  background-color: aqua;
  color: rgb(241, 7, 7);
}
#list1 {
  list-style-type: square;
}
#list2 {
  list-style-position: outside;
}
.div-column {
  display: flex;
  justify-content: space-evenly;
}
.list {
  padding: 20px 45px;
}
h1 {
  color: black;
}
p {
  font-size: 20px;
}

a {
  color: green;
  font-size: 100px;
}
a:link {
  text-decoration: none;
}
a:hover {
  color: red;
}
a:active {
  color: blue;
}

.links:visited {
  color: purple;
}
